@use '../../mixin/mixin'as *;
@use '../../setting/setting'as *;

.p-search {
  .c-form {
    margin: 0 auto;

    @include pc {
      max-width: 750px;
    }

    .search-input {
      width: 100%;
    }

    .btn {
      margin: 30px auto 0;
      display: block;
      max-width: 180px;
      width: 100%;
    }
  }
}