@use '../mixin/mixin'as *;
@use '../setting/setting'as *;

.c-form {

  input[type=text],
  input[type=email],
  input[type=url],
  textarea {
    border: 1px solid $primary_green02;
    border-radius: 5px;
    padding: 15px;

    @include sp {
      width: 100%;
      padding: 10px;
    }

    &:placeholder {
      color: #999
    }
  }

  input[type=submit],
  button {
    @include heading_h6;
    background-color: $primary_green;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    outline: 2px solid $primary_green;
    outline-offset: -2px;
    transition: $transition01;

    @include pc {
      &:hover {
        background-color: #fff;
        color: $primary_green;
      }
    }

    @include sp {
      margin-top: 15px;
    }
  }

  &.comment-form {
    margin-top: 60px;

    .comment-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 56px;

      @include sp {
        margin-top: 25px;
      }
    }

    .comment-form-comment,
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      @include sp {
        flex-direction: column;
        gap: 5px;
      }
    }

    textarea {
      width: 100%;
    }

    label {
      flex-shrink: 0;
      min-width: 85px;
      padding: 12px 0;

      @include sp {
        padding: 0;
      }
    }

    .form-submit {
      text-align: center;
    }

    .comment-list {
      margin-top: 30px;

      >li {
        &+li {
          margin-top: 25px;

          @include sp {
            margin-top: 12px;
          }
        }
      }

      .comment-name,
      .comment-date {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #777;
        
        &:not(:last-of-type) {
          padding-right: 10px;
          margin-right: 10px;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 12px;
            background-color: #999;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }

      .comment-info {
        display: flex;
        align-items: center;
      }

      .icon {
        display: flex;
      }

      .comment-text {
        @include paragraph;
        color: #999;
        line-height: 1.5;
        margin-top: 10px;
        background-color: $primary_lightGreen;
        padding: 15px;
      }
    }
  }
}

.c-btn {
  @include heading_h6;
  background-color: $primary_green;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  outline: 2px solid $primary_green;
  outline-offset: -2px;
  transition: $transition01;
  display: block;
  width: fit-content;

  @include pc {
    &:hover {
      background-color: #fff;
      color: $primary_green;
    }
  }
}